<% content_for(:body_id, "index") %>

  <div class="large-6 columns large-offset-1">
    <h1 class="paying">You're Paying</h1>
  </div>


<div class="row">
  <div class="large-4 columns large-offset-1">

    <% @subscriptions.each do |subscription| %>
      <% if subscription.monthly == true %>
        <% @next_month_total << subscription.fee %>
        <% @next_year_total << subscription.fee * 12 %>
      <% else %>
        <% @next_year_total << subscription.fee%>
      <% end %>
    <% end %>

    <h3><span class="monthly"><%= @next_month_total.sum %></span> $ /month</h3>

  </div>
  
  <div class="large-4 columns">
    <% @subscriptions.each do |subscription| %>
      <% @next_month_total << subscription.fee %>
      <% end %>

    <h3><span class="yearly"><%= @next_year_total.sum %></span> $ /year</h3> 
  </div>  
</div>

<div class="row">
  <div class="large-3 large-offset-3 columns">
        <table class="subscription-list">
          <tr>
          <% @subscriptions.each do |subscription| %>
            
              <td><h2><%= subscription.name %></h2><td>
            
              <td>
                <div class="delete_button"><%= link_to 'Delete', subscription, method: :delete, data: { confirm: 'Are you sure?' } %></div>
              </td>
          </tr>
          <% end %>
        </table>
  </div>

</div>

    



