/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require foundation
 *= require_tree .
 */

 @import "foundation_and_overrides";

 .top-wrapper {
 	margin-top: 35px;
 }

 .paying {
 	font-size: 1.7em;
 	margin-bottom: 30px;
 }

 .side-nav {
	width: 180px;
	float: left;
	text-align: center;
	line-height: 4em;
	margin-left: 0px;
	margin-top: 35px;
}

.row.mainbox {
	margin-left: 0px;
	margin-right: 0px;
}

.sub-link {

}

.monthly, .yearly, {
		font-family: 'Nixie One', cursive;
		margin-top: 20px;
		margin-bottom: 40px;
}
h1, h2, h2 {


}