#index {

	.monthly, .yearly {
		font-size: 4.5em;
	}

	.monthly {
		color:gray;
	}

	.yearly {
		color: blue;	
	}

	.subscription-list {
		border:none;
		border-collapse: collapse;
	}

	.delete_button {
	}





}